<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{s:style}}
    {{fa}}
</head>

<body>
    <nav>
        <div class="container">
            <header>
                <h1 class="logo">Car Travel</h1>
                <span class="desc">Travel everywhere, anywhere</span>
            </header>
            <footer>
                <div class="actions">
                    <a href="#search"><i class="fa-solid fa-magnifying-glass"></i> Search</a>
                    <a href="#publish"><i class="fa-solid fa-plus"></i> Publish a ride</a>
                    <!-- <a class="prime" href="#enter"><i class="fa-regular fa-user"></i> Join us <i class="arrow fa-solid fa-chevron-down"></i></a> -->
                </div>
            </footer>
        </div>
    </nav>
    <div class="content">
        <div class="wrapper">
            <h1 class="title">What's your prefered login method?</h1>
            <a href="#login-email" class="button">
                <div class="header">
                    <i class="fa-regular fa-envelope"></i>
                    <span>Login using your e-mail</span>
                </div>
                <i class="fa-solid fa-chevron-right"></i>
            </a>
            <a href="#login-phone" class="button">
                <div class="header">
                    <i class="fa-solid fa-phone"></i>
                    <span>Login using your phone number</span>
                </div>
                <i class="fa-solid fa-chevron-right"></i>
            </a>
            <div text="Other methods" class="separator"></div>
            <a href="#login-facebook" class="button">
                <div class="header">
                    <i class="fb fa-brands fa-facebook"></i>
                    <span>Login with facebook</span>
                </div>
                <i class="fa-solid fa-chevron-right"></i>
            </a>
            <span class="description">If you dont have an account, try to <a href="#register">create an
                    account</a></span>
        </div>
    </div>
</body>

</html>